@font-face {
    font-family: 'abduction2002';
    src: url(resource/font/abduction2002.ttf) format('truetype');
}
/* * {
    margin: 0;
    padding: 0;
} */
body {
    background-color: rgb(13, 10, 26);
    font-family: 'abduction2002', sans-serif,'';
}
.logo {
    text-align: center;
    color: #FF003C;
    padding: 24px;
    font-size: 75px;
    letter-spacing: 2px;
    font-weight: 1;
    
}

.score, .buttons, #winner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
.score {
    color: #CCCCCC;
    display: flex;
    justify-content: space-evenly;
}

.player,
.computer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#player, #computer {
    margin: 0;
    color: #FF003C;
    font-size: 200px;
    filter: drop-shadow(0px 0px 7px #ff003c);
}

.result-container,
.reset {
    color: #CCCCCC;
    text-align: center;
}