@font-face {
    font-family: 'abduction2002';
    src: url(resource/font/abduction2002.ttf) format('truetype');
}
@font-face {
    font-family: 'pointless';
    src: url(resource/font/Pointless.ttf) format('truetype');
}
.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(13, 10, 26);
    font-family: 'abduction2002', sans-serif,'';
}
.logo { 
    margin: 18px;
    display: block;
    text-align: center;
    color: #FF003C;
    padding: 24px;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 1;

    word-wrap: break-word;

}

.score, #winner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}
.score {
    color: #CCCCCC;
    display: flex;
    justify-content: space-evenly;
}

.player,
.computer {
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.score-container {
    margin: 25px;
}
#player, #computer {
    margin: 0;
    padding: 20px 0px;
    color: #FF003C;
    font-size: 120px;
    filter: drop-shadow(0px 0px 7px #ff003c);
}

#winner {
    font-size: 42px;
    color: #FF7433	;
    font-family: 'pointless', 'sans-serif';
    text-align: center;
    filter: drop-shadow(0px 0px 8px #FF5722);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.buttons button,
button {
    
    padding: 12px 0px;
    width: 250px;
    color: #ff003c;
    font-family: 'Zen Dots', 'san-serif';
    background-color: transparent;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    border: solid #ff003c 2px;
    border-radius: 8px;
    transition: all 0.3s ease;
    filter: drop-shadow(0px 0px 7px #ff003c);
}

.buttons button:hover,
button:hover {
    color: rgb(13, 10, 26);
    background-color: rgb(245, 55, 16);
    filter: drop-shadow(0px 0px 12px rgb(245, 55, 16));
    border: solid rgb(245, 55, 16) 2px;
    transform: scale(1.02);
}

.buttons button:active,
button:active {
    background-color: #ff002f; 
    color: #0d0a1a;             
    filter: drop-shadow(0px 0px 16px #ff002f);
    transform: scale(0.98);   
    border: solid #ff002f 2px;
}


.result-container {
    font-family: 'pointless', 'sans-serif';
    font-size: 18px;
    font-weight: lighter;
    color: #CCCCCC;
    text-align: center;
    padding: 12px;
    /* text-transform: uppercase; */
}

.reset {
    display: flex;
    padding: 0px 0px 24px 0px;
    justify-content: center;
}

.reset button {
    flex: 0 1 774px;
    margin: 0px 12px;
    max-width: calc(250px * 3 + 24px);
}




